
body {
    margin: 0 auto;
    background-color: #66c7eb;
  
}

img {
    
  }

ul li {
  display:inline-block; 
  text-align: center;

}


h1 {
    text-align: center;
   
}

h2 {
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
    
}

.right {
    float: right;
    width: 50%;
    text-align: center;
    margin: 40px;
}

.left {
    float: left;
    width: 50%;
    text-align: center;
    margin: 40px;
}

.biographyAvatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;

}
nav {
    text-align: center;
    
}

p {
   
}

footer { 
    padding: 15px;
    margin: 0;
    clear: both;
}