
body {
    margin: 0 auto;
    background-color: #004aad;
  
}

img {
    background-repeat: no-repeat;
    background-image: url('/images/Header.png');
}

ul li {
  display:inline-block; 
  text-align: center;

}


h1 {
    text-align: center;
   
}

h2 {
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
}
nav {
    text-align: center;
    
}

p {
   
}

#something-else {
 
}

.more-content {
    

}

section p.more-content {
    
}