
body {
  
}

ul li {
  display:inline-block; 
  text-align: center;

}


h1 {
    text-align: center;
   
}

nav {
    text-align: center;
    
}

p {
   
}

#something-else {
 
}

.more-content {
    

}

section p.more-content {
    
}